<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - metrics</title>

    @RenderSection("styles", false)
    <environment include="Development">
        <link rel="stylesheet" href="~/css/styles.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    </environment>
</head>
<body class="flex flex-col h-full items-center">
<nav class="fixed w-full bg-gray-800 flex items-center z-50">
    <div class="container flex flex-row items-center m-auto">
        <ul class="flex flex-row flex-1 items-center">
            <li>
                <a href="/" class="logo px-5 no-underline text-white block">
                    <svg class="w-8 h-8" viewBox="0 0 32 32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='/images/icons.svg#logo'/>
                    </svg>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-action="Index" asp-controller="User" class="no-underline text-white block hover:bg-gray-900 px-5 py-5">Пользователь</a>
                </li>
                <li>
                    <a asp-action="Add" asp-controller="User" class="no-underline text-white block hover:bg-gray-900 px-5 py-5">Добавить</a>
                </li>
                <li>
                    <a asp-action="Drop" asp-controller="Account" class="no-underline text-white block hover:bg-gray-900 px-5 py-5">Удалить группы</a>
                </li>
            }
        </ul>
        <div class="flex items-center flex-row">
            <partial name="_LoginPartial.cshtml"></partial>
        </div>
    </div>
</nav>

<main class="container h-full pt-16" role="main">
    @RenderBody()
</main>
<footer class="bg-gray-800"></footer>

<environment include="Development">
    @*<script src="~/wds/js/styles.js" type="text/javascript"></script>
    <script src="~/wds/js/main.js"></script>*@
    <script src="~/js/main.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/main.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
