<div class="flex flex-col items-center relative">
  <div class="action-btn action-btn__left">
    <a
      [color]="'primary'"
      mat-icon-button
      mat-mini-fab
      (click)="prev()"
      *ngIf="totalImage > 1"
    >
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <div class="flex flex-col mb-2">
    <img #img class="h-64 w-64" matCardImage [appLazyImage]="srcImg" />
    <ul class="flex flex-wrap items-center justify-center">
      <li
        (click)="setCurrent(image)"
        *ngFor="let image of imagePoints"
        class="rounded-full relative border border-gray-300 h-4 w-4 p-1 ml-2 cursor-pointer"
      >
        <span
          [style]="{ transform: 'translateX(' + currentImage * 24 + 'px)' }"
          *ngIf="image === 0"
          class="bg-gray-500 top-0 image-point left-0 w-3 h-3 absolute rounded-full block"
        ></span>
      </li>
    </ul>
  </div>
  <div class="action-btn action-btn__right">
    <button
      [color]="'primary'"
      (click)="next()"
      mat-mini-fab
      mat-icon-button
      *ngIf="totalImage > 1"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
