@using metrics.Services.Models
@{
    ViewBag.Title = "Пользователь";
}

<div id="user-repost">
    <form method="post" class="col-xs-12 row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
            <label for="Filter">Пользователь</label>
            <input required data-bind="value: user" class="form-control" name="Filter" id="Filter" />
            <button data-bind="events: { click: filter }" class="btn btn-primary" type="submit">Получить</button>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
            <label for="Search">Поиск</label>
            <input data-bind="value: searchField" class="form-control" name="Search" id="Search" />
        </div>
    </form>
    <br />
    <div id="repost-lv" data-role="listview" data-selectable="multiple" class="row" data-template="repost-tmpl" data-bind="source: reposts" data-auto-bind="false">
    </div>
    <div data-role="pager" data-auto-bind="false" data-bind="source: reposts">

    </div>
</div>

@section Scripts 
{
    <script type="text/x-kendo-template" id="repost-tmpl">
        <div class="card col-sm-12 col-md-4 col-lg-3">
            <div class="card-header">
                <h4 class="card-title">
                    <a target="_blank" href="https://vk.com//wall#:owner_id#_#:id#">Пост</a>
                </h4>
                <span class="card-subtitle">#: kendo.toString(new Date(date * 1000), 'yyyy-MM-dd HH:ss') #</span>
            </div>
            <div class="card-body">
                # var files = attachments.filter(function (x) { return  x.type === @((int)MessageAttachmentType.photo)}); #
                # for (var i = 0; i < files.length; i++) { #
                # var size = files[i].photo.sizes[0].url; #
                <img class="card-img" src="#= size #" />
                # } #
                <div class="card-text">
                    #= text #
                </div>
            </div>
            <div class="card-footer">
                <a class="repost-btn text-primary">
                    <svg width="10" height="10">
                        <use xlink:href="thumbup"></use>
                    </svg>
                </a>
            </div>
        </div>
    </script>
    <script src="~/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            $('.repost-btn').on('click', function(e) {
                e.preventDefault();
                var btn = this;
                debugger;
                var card = $(btn).closest('.card');
                var lv = $('#repost-lv').data('kendoListView');
                var dataItem = lv.dataItem(card);
                if (dataItem) {
                    $.ajax({
                        type: 'POST',
                        data: {
                            owner: dataItem.owner_id,
                            id: dataItem.id
                        },
                        success: function() {
                            btn.css('color', 'red');
                        }
                    });
                }
                
            });
            var viewModel = kendo.observable({
                reposts: new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '/repost/getData'
                        }
                    },
                    pageSize: 100,
                    serverPaging: true,
                    serverFiltering: false,
                    schema: {
                        data: 'data',
                        total: 'total'
                    }
                }),
                user: '',
                filter: function (e) {
                    e.preventDefault();
                    this.reposts.transport.options.read.data = {
                        userId: this.user,
                        search: this.searchField
                    };
                    this.reposts.fetch();
                },
                searchField: ''
            });
            kendo.bind("#user-repost", viewModel);
        });
    </script>
}

@section Styles 
{
    <link rel="stylesheet" href="~/css/kendo.bootstrap-v4.min.css"/>
}