@{
    ViewBag.Title = "Добавить пользователя";
}

<form method="post" class="rounded shadow-md w-1/2 px-8 py-6 my-4 flex flex-col" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-red mb-4"></div>
    @if (ViewBag.Result != null)
    {
        <div class="mb-4 text-green">@ViewBag.Result</div>
    }
    <div class="mb-4">
        <label class="block text-gray-900 text-sm font-bold mb-2" for="UserId">Пользователь</label>
        <input id="UserId" name="UserId" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" />
    </div>
    <button type="submit" class="md:w-1/2 sm:w-full shadow cursor-pointer bg-blue-800 hover:bg-blue-900 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Отправить</button>
</form>