<div class="flex flex-wrap mb-3">
  <form class="w-1/2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-1/3 mr-6">
      <input
        type="search"
        placeholder="Текст"
        matInput
        autocomplete="off"
        formControlName="search"
      />
    </mat-form-field>
    <mat-form-field class="w-1/3">
      <input
        placeholder="Юзер"
        type="text"
        matInput
        formControlName="user"
        [matAutocomplete]="auto"
      />
      <button
        *ngIf="form.get('user').value"
        (click)="clearUser($event)"
        matSuffix
        mat-button
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of users" [value]="option">
          <figure class="flex items-center">
            <img class="h-10 mr-3" [src]="option.Avatar"/>
            <figcaption>{{ option.FullName }}</figcaption>
          </figure>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p>
      <button [disabled]="!form.valid" mat-button color="primary" type="submit">
        Отправить
      </button>
    </p>
  </form>
  <div class="w-1/2">
    <button
      class="w-1/3"
      (click)="repostAll()"
      mat-button
      [color]="'primary'"
      [disabled]="selectedMessages.length === 0"
    >
      Репост всех
    </button>
    <mat-slider
      class="mr-6 w-1/3"
      thumbLabel
      [value]="timeout"
      (valueChange)="sliderChange($event)"
      [step]="1"
      [min]="30"
      [max]="60"
      [disabled]="selectedMessages.length === 0"
    ></mat-slider>
    <span class="w-1/5" *ngIf="selectedMessages.length">{{
      selectedMessages.length
      }}</span>
  </div>
</div>
<div class="h-full w-full flex flex-wrap justify-center">
  <div class="flex items-center">
    <mat-form-field class="w-1/5">
      <div class="flex items-center">
        <input placeholder="Страница" (keyup.enter)="onSubmit()" type="number" min="0" matInput [(ngModel)]="page"/>
        <button matSuffix (click)="onCustomPageChange()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-paginator
      class="w-full w-4/5"
      [showFirstLastButtons]="true"
      (page)="onChangePage($event)"
      [pageSize]="pageSize"
      [length]="total"
      [pageIndex]="page"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
  </div>
  <mat-spinner *ngIf="loading; else card"></mat-spinner>
  <ng-template #card>
    <mat-card class="flex flex-wrap w-1/2" *ngFor="let message of messages">
      <mat-card-header>
        <mat-card-title class="flex items-center w-full">
          <a
            target="_blank"
            class="block flex-1"
            [href]="'https://vk.com/wall' + message.Owner_Id + '_' + message.Id"
          >Пост</a
          >
          <mat-slide-toggle
            *ngIf="!message.Reposts.User_reposted"
            [color]="'accent'"
            (change)="onSelect($event, message)"
            [checked]="message.IsSelected"
          ></mat-slide-toggle>
        </mat-card-title>
        <mat-card-subtitle>{{ fromUnixTime(message.Date) }}</mat-card-subtitle>
      </mat-card-header>
      <app-vk-image [src]="images(message)"></app-vk-image>
      <mat-card-content [innerHTML]="message.Text" class="h-64 overflow-auto">
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="like(message.Owner_Id, message.Id)">
          <mat-icon [color]="message.Likes.User_Likes ? 'warn' : 'primary'"
          >thumb_up
          </mat-icon
          >
          {{ message.Likes.Count }}
        </button>
        <button mat-button (click)="repost(message.Owner_Id, message.Id)">
          <mat-icon [color]="message.Reposts.User_reposted ? 'warn' : 'primary'"
          >share
          </mat-icon
          >
          {{ message.Reposts.Count }}
        </button>
        <mat-form-field class="message-category">
          <mat-select [value]="message.MessageCategoryId" panelClass="mat-select-full-height">
            <mat-option (onSelectionChange)="setType(message.Id, message.Owner_Id, el.Id)" *ngFor="let el of categories"
                        [value]="el.Id">
              <div class="flex flex-wrap items-center">
                <span class="flex-1">{{el.Title}}</span>
                <div class="w-3 h-3" [style.background]="el.Color"></div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
