<div class="container-fluid">
  <kendo-toolbar>
    <kendo-toolbar-button [disabled]="!form.valid" (click)="saveEntity(form)" [text]="'Сохранить'"></kendo-toolbar-button>
  </kendo-toolbar>
  <form #form="ngForm" novalidate>
    <input type="hidden" name="Id" value="0"/>
    <div *ngFor="let column of viewConfig.Columns" [ngSwitch]="column.Type" class="k-form-field">
      <kendo-textbox-container *ngIf="column.Visible && !column.ReadOnly" floatingLabel="{{column.Title}}">
        <kendo-numerictextbox [readonly]="column.ReadOnly" *ngSwitchCase="dataType.Integer" ngModel [required]="column.Required"
                              [name]="column.Name"></kendo-numerictextbox>
        <input [readonly]="column.ReadOnly" kendoTextBox *ngSwitchDefault ngModel [required]="column.Required" class="k-textbox" type="text"
               name="{{column.Name}}" />
      </kendo-textbox-container>
    </div>
  </form>
</div>
