<mat-toolbar>
    <mat-icon svgIcon="thumbs-up"></mat-icon>
    <mat-icon svgIcon="thumbs-down"></mat-icon>
</mat-toolbar>
<!-- <nav class="fixed w-full bg-gray-800 flex items-center z-50">
    <div class="container flex flex-row items-center m-auto">
        <ul class="flex flex-row flex-1 items-center">
            <li>
                <a href="/" class="logo px-5 no-underline text-white block">
                    <svg class="w-8 h-8" viewBox="0 0 32 32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href='assets/images/icons.svg#logo' />
                    </svg>
                </a>
            </li>
        </ul>
        <app-login></app-login>
    </div>
</nav> -->