<div class="flex flex-wrap items-center">
  <form class="md:w-1/2 w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-1/2 mr-6">
      <input
        type="search"
        placeholder="Поиск"
        matInput
        autocomplete="off"
        formControlName="search"
      />
    </mat-form-field>
    <button
      class="focus:outline-none"
      [disabled]="!form.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Отправить
    </button>
  </form>
  <div class="md:w-1/2 w-full flex flex-wrap md:justify-end items-start">
    <button
      class="relative focus:outline-none"
      (click)="repostAll()"
      mat-raised-button
      color="primary"
      [disabled]="selectedMessages.length === 0"
    >
      Репост всех
      <span
        style="top: -0.4rem; right: -0.4rem"
        class="text-white w-6 h-6 bg-red-500 rounded-full absolute leading-7"
        *ngIf="selectedMessages.length"
      >{{ selectedMessages.length }}</span
      >
    </button>
  </div>
</div>
<div class="loading-shade" *ngIf="loading; else card">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<ng-template #card>
  <mat-divider *ngIf="messages.length > 0"></mat-divider>
  <div
    class="h-full w-full flex flex-wrap justify-center mt-3 p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <mat-card class="text-sm mat-elevation-z2" *ngFor="let message of messages; trackBy: track">
      <mat-card-header>
        <mat-card-title class="flex items-center w-full">
          <a
            target="_blank"
            class="block flex-1"
            [href]="'https://vk.com/wall' + message.OwnerId + '_' + message.Id"
          >
            {{ message.Owner ? trimText(message.Owner, 27) : "Пост" }}
          </a>
          <mat-slide-toggle
            [color]="!message.UserReposted ? 'primary' : 'warn'"
            (change)="onSelect($event, message)"
            [checked]="message.IsSelected"
          ></mat-slide-toggle>
        </mat-card-title>
        <mat-card-subtitle>{{ toDate(message.Date) }}</mat-card-subtitle>
      </mat-card-header>
      <app-vk-image [src]="message.Images || []"></app-vk-image>
      <mat-card-content
        class="h-48 overflow-auto"
      >
        <pre class="mat-caption text-xs leading-4 whitespace-pre-wrap" [innerHTML]="message.Text"></pre>
      </mat-card-content>
      <mat-card-footer class="text-center">
        <mat-form-field class="message-category">
          <mat-label>{{ message.MessageCategoryPredict }}</mat-label>
          <mat-select
            (selectionChange)="setType(message.Id, message.OwnerId, $event)"
            [value]="message.MessageCategoryId"
            panelClass="mat-select-full-height"
          >
            <mat-option *ngFor="let el of categories" [value]="el.Id">
              <div class="flex flex-wrap items-center">
                <span class="flex-1">{{ el.Title }}</span>
                <div class="w-3 h-3" [style.background]="el.Color"></div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-footer>
      <mat-card-actions>
        <button mat-button (click)="like(message.OwnerId, message.Id)">
          <mat-icon color="primary">thumb_up</mat-icon>
          {{ message.LikesCount }}
        </button>
        <button mat-button (click)="repost(message.OwnerId, message.Id)">
          <mat-icon [color]="message.UserReposted ? 'warn' : 'primary'"
          >share
          </mat-icon>
          {{ message.RepostsCount }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-progress-bar *ngIf="additionalLoading; else more" class="my-5" mode="indeterminate"></mat-progress-bar>
  <ng-template #more>
    <div *ngIf="hasMessages" class="flex flex-wrap align-self-center justify-center mb-3">
      <button mat-button color="primary" mat-raised-button (click)="nextPage()">Еще</button>
    </div>
  </ng-template>
</ng-template>
