<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="w-1/3">
    <input placeholder="Поиск" required matInput formControlName="userId"  [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <div class="flex">
          <div class="h-16 w-16 bg-contain mr-3" [style]="{ backgroundImage: 'url(' + option.Avatar  + ')' }"></div>
          {{option.FullName}}
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <p>
    <button [disabled]="!form.valid" mat-button color="primary" type="submit">Отправить</button>
  </p>
</form>
