<ng-template *ngIf="!isAuthenticated; else authenticated">
  <a mat-button class="text-lg" routerLink="/login">
    Логин
  </a>
</ng-template>
<ng-template #authenticated>
  <div class="flex flex-wrap items-center">
    <div *ngIf="count" class="relative mr-3">
      <a [routerLink]="['profile', 'running']">
      <span class="absolute text-sm pin-t pin-r px-2 bg-red-500 rounded">{{
        count
        }}</span>
        <mat-icon>hightlight</mat-icon>
      </a>
    </div>
    <div class="mr-4">{{ user.FullName }}</div>
    <button
      class="h-12 w-12 bg-center bg-cover rounded-full hidden md:block outline-none focus:outline-none"
      [matMenuTriggerFor]="menu"
      [ngStyle]="{ 'background-image': 'url(' + user.Avatar + ')' }"
    ></button>
    <mat-menu #menu="matMenu">
      <button class="focus:outline-none" routerLink="/profile" mat-menu-item>
        Профиль
      </button>
      <button class="focus:outline-none" (click)="logout()" mat-menu-item>
        Выйти
      </button>
    </mat-menu>
  </div>
</ng-template>
