<kendo-grid [kendoGridSelectBy]="'Id'" [selectedKeys]="selected" [selectable]="true" [data]="data | async"
            [pageable]="true" [pageSize]="state.take" [skip]="state.skip">
  <ng-template kendoGridToolbarTemplate>
    <kendo-buttongroup>
      <button kendoTooltip class="k-text-success" kendoButton title="Добавить" (click)="addItem()"
              [icon]="'plus'"></button>
      <button class="k-text-error" [disabled]="selected.length === 0" (click)="openConfirm()" kendoButton kendoTooltip title="Удалить"
              [icon]="'delete'"></button>
    </kendo-buttongroup>
  </ng-template>
  <kendo-grid-column *ngFor="let column of viewConfig?.Columns" [field]="column.Name"
                     [title]="column.Title"></kendo-grid-column>
</kendo-grid>
<div kendoDialogContainer></div>
<kendo-dialog (close)="close()" title="Подтвердите действие" *ngIf="open">
  <p>
    Вы действительно хотите удалить?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="confirm()" [primary]="true">Да</button>
    <button kendoButton (click)="close()">Нет</button>
  </kendo-dialog-actions>
</kendo-dialog>
