<div class="user">
  <kendo-grid [selectable]="'multiple'" [kendoGridSelectBy]="'Id'" [selectedKeys]="selectedKeys"
              (dataStateChange)="onStateChange($event)" [loading]="loading" [pageSize]="state.take" [pageable]="true"
              [data]="data" [skip]="state.skip">
    <ng-template position="top" kendoGridToolbarTemplate>
      <form class="k-form row" #form="ngForm" novalidate>
        <div class="k-form-field col">
          <kendo-combobox required="true" name="UserId" [(ngModel)]="userId" [allowCustom]="true"
                          [textField]="'FullName'" [valueField]="'UserId'" [data]="users">
            <ng-template kendoComboBoxItemTemplate let-dataItem>
              <img class="img-responsive" [src]="dataItem.Avatar"/>{{ dataItem.FullName }}
            </ng-template>
          </kendo-combobox>
          <kendo-textbox-container id="Search" floatingLabel="Поиск">
            <input kendoTextBox name="Search" [(ngModel)]="search" class="k-textbox"/>
          </kendo-textbox-container>
          <button [disabled]="!form.valid" (click)="handleSearch()" [icon]="'search'" kendoButton [primary]="true"
                  type="submit">Получить
          </button>
        </div>
        <div class="k-form-field col">
          <span>{{timeout}}</span>
          <span>{{ selectedKeys }}</span>
          <kendo-slider [disabled]="selectedKeys.length === 0" name="timeout" [min]="15" [smallStep]="2" [max]="60"
                        [(ngModel)]="timeout"></kendo-slider>
        </div>
        <button [disabled]="selectedKeys.length === 0" kendoButton [primary]="true">Репост всего</button>
      </form>
    </ng-template>
    <kendo-grid-column>
      <ng-template kendoGridCellTemplate let-dataItem let-idx="rowIndex">
        <div class="card small">
          <div class="card-header">
            <h4 class="card-title">
              <input class="k-checkbox" [kendoGridSelectionCheckbox]="idx"/>
              <label class="k-checkbox-label">
                <a target="_blank" href="https://vk.com//wall{{dataItem.Owner_Id}}_{{dataItem.Id}}">Пост</a>
              </label>
            </h4>
            <span class="card-subtitle">{{dataItem.Date | unixtime | kendoDate: 'G' }}</span>
          </div>
          <div class="card-body">
            <div class="card-image">
              <app-message-image [attachments]="dataItem.Attachments"></app-message-image>
            </div>
            <div class="card-text">
              {{dataItem.Text}}
            </div>
          </div>
          <div class="card-footer">
            <a title="Репост" kendoTooltip class="text-primary k-icon k-i-fav-outline"
               (click)="repostOne([{ Owner_id: dataItem.Owner_Id, Id: dataItem.Id }], $event.currentTarget)">
            </a>
            <span class="card-text offset-1">{{dataItem.Reposts?.Count}}</span>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
