<div class="user">
  <kendo-grid take="state.take" selectable="'multiple'" [loading]="loading" [pageSize]="state.take" [pageable]="true" [data]="data" [skip]="state.skip">
    <ng-template position="top" kendoGridToolbarTemplate>
      <form class="k-form row" #form="ngForm" novalidate>
        <div class="k-form-field col">
          <kendo-textbox-container id="Filter" floatingLabel="Пользователь">
            <input kendoTextBox [(ngModel)]="userId" name="Filter" id="Filter" required class="k-textbox" />
          </kendo-textbox-container>
          <kendo-textbox-container id="Search" floatingLabel="Поиск">
            <input kendoTextBox name="Search" [(ngModel)]="search" id="Search" class="k-textbox" />
          </kendo-textbox-container>
          <button [disabled]="!form.valid" (click)="handleSearch()" [icon]="'search'" kendoButton [primary]="true" type="submit">Получить</button>
        </div>

        <button kendoButton [primary]="true">Репост всего</button>
      </form>
    </ng-template>
    <kendo-grid-column>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="card small">
          <div class="card-header">
            <h4 class="card-title">
              <a target="_blank" href="https://vk.com//wall{{dataItem.owner_id}}_{{dataItem.id}}">Пост</a>
            </h4>
            <span class="card-subtitle">{{dataItem.date | unixtime | kendoDate: 'G' }}</span>
          </div>
          <div class="card-body">
            <div class="card-image">
              <app-message-image [attachments]="dataItem.attachments"></app-message-image>
            </div>
            <div class="card-text">
              {{dataItem.text}}
            </div>
          </div>
          <div class="card-footer">
            <a title="Репост" kendoTooltip class="text-primary k-icon k-i-fav-outline" (click)="repost(dataItem.owner_id, dataItem.id, $event.currentTarget)">
            </a>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
