<ng-template *ngIf="!isAuthenticated; else authenticated">
  <a mat-button class="text-lg" routerLink="/login">
    Логин
  </a>
</ng-template>
<ng-template #authenticated>
  <div class="flex flex-wrap items-center">
    <div class="mr-4">{{user.fullName}}</div>
    <button class="h-12 w-12 bg-center bg-cover rounded-full hidden md:block outline-none focus:outline-none"
            [matMenuTriggerFor]="menu" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')' }"></button>
    <mat-menu #menu="matMenu">
      <button class="focus:outline-none" (click)="logout()" mat-menu-item>Выйти</button>
    </mat-menu>
  </div>
</ng-template>
