@using metrics.Services.Models
@{
    ViewBag.Title = "Пользователь";
}

<div id="user-repost">
    <div class="col-xs-12 row">
        <div class="form-group col-sm-12 col-md-6">
            <label for="Filter">Пользователь</label>
            <input required data-bind="value: user" class="form-control" name="Filter" id="Filter" />
            <button data-bind="events: { click: filter }" class="btn btn-primary" type="submit">Получить</button>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label for="Search">Поиск</label>
            <input data-bind="value: searchField" class="form-control" name="Search" id="Search" />
            <button class="btn btn-primary" data-bind="disabled: allRepostsDisabled, events: { click: repostAll }">Репост всего</button>
        </div>
        <div class="form-group col-sm-12 offset-md-6 col-md-6">
            <input id="slider-repeat" data-role="slider" data-max="60" data-min="0" data-small-step="5" data-large-step="10" />
        </div>
    </div>
    <br />
    <div id="repost-lv" data-role="listview"
         data-selectable="multiple"
         class="row" data-template="repost-tmpl"
         data-bind="source: reposts, events: { change: onChange }" data-auto-bind="false">
    </div>
    <div data-role="pager" data-auto-bind="false" data-bind="source: reposts">

    </div>
</div>

@section Scripts
    {
    <script type="text/x-kendo-template" id="repost-tmpl">
        <div class="card col-sm-12 col-md-4 col-lg-3">
            <div class="card-header">
                <h4 class="card-title">
                    <a target="_blank" href="https://vk.com//wall#:owner_id#_#:id#">Пост</a>
                </h4>
                <span class="card-subtitle">#: kendo.toString(new Date(date * 1000), 'yyyy-MM-dd HH:ss') #</span>
            </div>
            <div class="card-body">
                # var files = attachments.filter(function (x) { return  x.type === @((int)MessageAttachmentType.photo)}); #
                # for (var i = 0; i < files.length; i++) { #
                # var size = files[i].photo.sizes[0].url; #
                <img class="card-img" src="#= size #" />
                # } #
                <div class="card-text">
                    #= text #
                </div>
            </div>
            <div class="card-footer">
                <a href="\\#" class="repost-btn text-primary" data-bind="events: { click: onRepost }">
                    <svg width="25" height="25">
                        <use xlink:href="\\#thumbup"></use>
                    </svg>
                </a>
            </div>
        </div>
    </script>
    <script src="~/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            var viewModel = kendo.observable({
                reposts: new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '/repost/getData'
                        }
                    },
                    pageSize: 100,
                    serverPaging: true,
                    serverFiltering: false,
                    schema: {
                        data: 'data',
                        total: 'total'
                    }
                }),
                onChange: function (e) {
                    e.data.set('allRepostsDisabled', false)
                },
                onRepost: function (e) {
                    e.preventDefault();
                    var dataItem = e.data;
                    var reposts = [
                        {
                            owner_id: dataItem.owner_id,
                            id: dataItem.id
                        }
                    ]
                    this.repost(reposts)
                        .then(function () {
                            $(e.currentTarget).css('fill', 'red')
                        })
                },
                repostAll: function (e) {
                    debugger;
                    e.preventDefault();
                    var lv = $('#repost-lv').data('kendoListView');
                    var selected = lv.select();
                    if (selected.length === 0) {
                        return;
                    }

                    var reposts = [];
                    var timeOut = $('#slider-repeat').data('kendoSlider').value()
                    selected.each(function (idx, element) {
                        var dataItem = lv.dataItem(element);
                        reposts.push({ owner_id: dataItem.owner_id, id: dataItem.id })
                    });
                    kendo.ui.progress(lv.element, true);
                    this.repost(reposts, timeOut)
                        .then(function () {
                            kendo.ui.progress(lv.element, false);
                        })
                },
                allRepostsDisabled: true,
                repost: function (data, timeout) {
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            type: 'POST',
                            url: '/repost/repost',
                            data: {
                                reposts: data,
                                timeout: timeout
                            }
                        })
                            .done(function () {
                                resolve()
                            })
                            .fail(function () {
                                reject();
                            });
                    });
                },
                user: '',
                filter: function (e) {
                    e.preventDefault();
                    this.reposts.transport.options.read.data = {
                        userId: this.user,
                        search: this.searchField
                    };
                    this.reposts.fetch();
                },
                searchField: ''
            });
            kendo.bind("#user-repost", viewModel);
        });
    </script>
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/kendo.bootstrap-v4.min.css" />
}