html {
  font-size:  #{16px}/#{1.5};
  position: relative;

  height: 100%;

  word-spacing: 1px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.loading {
  @apply absolute w-full h-full bg-gray-800 opacity-50;
}

@screen md {
  .vk-message {
    width: 49%;
  }
}

.vk-message:nth-child(even) {
  @apply mr-0;
}

.word-break {
  word-break: break-all;
}

.form-switch {
  @apply relative select-none w-12 mr-2 leading-normal;
}
.form-switch-checkbox {
  @apply hidden;
}
.form-switch-label {
  @apply block overflow-hidden cursor-pointer bg-white border rounded-full h-6 shadow-inner;

  transition: background-color 0.2s ease-in;
}
.form-switch-label:before {
  @apply absolute block bg-white inset-y-0 w-6 border rounded-full -ml-1;

  right: 50%;
  content: "";
  transition: all 0.2s ease-in;
}
.form-switch-checkbox:checked + .form-switch-label,
.form-switch-checkbox:checked + .form-switch-label:before {

}
.form-switch-checkbox:checked + .form-switch-label {
  @apply bg-green-500 shadow-none;
}
.form-switch-checkbox:checked + .form-switch-label:before {
  @apply right-0;
}

.dropdown-list {
  top: 103%;
  
  &__arrow {
    top: 1.7rem;
  }
}