html {
  font: #{16px}/#{1.5} 'Fira Sans', Arial, sans-serif;

  position: relative;

  height: 100%;

  word-spacing: 1px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  border: 0 solid #efefef;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #efefef;
  opacity: 0.5;
}