<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogFile="c:\temp\internal.txt"
      internalLogLevel="Info">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="Database" name="database" dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite" connectionString="DataSource=lite.db" >
            <commandText>
                INSERT INTO [main].[Logs] (MachineName, CreateDate, Level, Message, Exception) values (@MachineName, @CreateDate, @Level, @Message, @Exception)
            </commandText>
            <parameter name="@MachineName" layout="${machineName}" />
            <parameter name="@CreateDate" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Exception" layout="${exception:toString}" />
        </target>
    </targets>
    <rules>
        <logger writeTo="database" minlevel="Info" name="metrics.Services.Concrete.*" />
    </rules>
</nlog>